// Variables
$font-raleway: 'Raleway', sans-serif;

// Colors
$transparent: rgba(0,0,0,0);
$semi-trasparent: rgba(0,0,0,0.5);
$link-active: white;
$link: #ccc;
$link-visited: #eee;
$link-hover: yellow;
$bg-lightblue: lightblue;
$accent-light: #ffe2bc;
$accent-dark: #615648;

// Mixin's
@mixin trip-name{
    color: white;
    background-color: $semi-trasparent;
    border: 5px solid white;
    font-size: 2em;
    text-align: center;
    width: 50%;

    @media screen and (max-width: 420px){
        width: 85%;
    }
}

// *{
//     border: 1px dotted yellow;
// }

body{
    font-family: $font-raleway;

    nav{
        background-color: #253046;
        #navbarSupportedContent{
            .navbar-nav{
                .nav-item{
                    a{
                        color: $link;
                        text-decoration: none;

                        &:hover{
                            color: $link-hover;
                            text-decoration: none;
                        }

                        // &:visited{
                        //     color: $link-visited;
                        //     text-decoration: none;
                        // }

                    }
                }
                .active{
                    .nav-link{
                        color: $link-active !important;
                    }
                }
            } 
        }
    }

    header{
        color: white;
        height: 60vh;
        background-image: url(../images/bg_solomarv.jpg);
        background-position: center;
        background-size: cover;
        

        .jumbotron{
            height: 60vh;
            background-color: $transparent;
            padding: 0px;
            margin-bottom: 0px;
            #text-splash{
                border: 5px solid white;
                padding: 2.5em;
                background: $semi-trasparent;
                @media screen and (max-width: 411px){
                        padding: 1em;
                    }
                h1{
                    @media screen and (max-width: 320px){
                        font-size: 1.5em;
                    }
                    
                    @media screen and (min-width:321) and (max-width: 500px){
                        font-size: 2em;
                    }
                }

                p{
                    margin: 0px;
                    
                    @media screen and (max-width: 500px){
                        font-size: 1em;
                    }
                }
            }
        }
    }

    #trips{
            #trips-socorro{
                height: 40vh;
                background-image: url(../images/bg_manta.jpg);
                background-position: center;
                background-size: cover;
                .spacer{
                    height: 45%;
                }
                .trip-name{
                    @include trip-name();
                }
            }
            #trips-guadalupe{
                height: 40vh;
                background-image: url(../images/bg_shark.jpg);
                background-position: center;
                background-size: cover;
                .spacer{
                    height: 45%;
                }
                .trip-name{
                    @include trip-name();
                }

            }
    }

    #rates{
            #sect-rates{
                background-color: $bg-lightblue;
                padding: 3em;
            }
            #sect-wilderness{
                background-color: $accent-dark;
                padding: 3em;
                h2{
                    color: $accent-light;
                    font-size: 4rem;

                    @media screen and (max-width: 365px) {
                        font-size: 2rem;
                    }

                    @media only screen and (min-width: 366px) and (max-width: 425px){
                        font-size: 3rem;
                    }

                }
            }
    }

    #rooms{
        .staterooms{
            background-color: white;
            padding: 3em;
        }
        .details{
            background-color: $accent-light;
            color: $accent-dark;
            padding: 3em;
        }
    }

    footer{
        background-color: $accent-dark;
        color: $accent-light;
        padding: 3em;
        a{
            color: $accent-light;
            &:hover{
                color: white;
                text-decoration: none;
            }
        }
        i{
            font-size: 2em;
        }
    }
}