// Variables
$font-raleway: 'Raleway', sans-serif;

// Colors
$transparent: rgba(0,0,0,0);
$semi-trasparent: rgba(0,0,0,0.5);
$link-active: white;
$link: #eee;
$link-visited: #eee;
$link-hover: yellow;
$bg-lightblue: lightblue;
$accent-light: #ffe2bc;
$accent-dark: #615648;

// Mixin's
@mixin trip-name{
    color: white;
    background-color: $semi-trasparent;
    border: 5px solid white;
    font-size: 2em;
    text-align: center;
    width: 50%;
}

// *{
//     border: 1px dotted yellow;
// }

body{
    font-family: $font-raleway;
    header{
        color: white;
            height: 60vh;
            background-image: url(../images/bg_solomarv.jpg);
            background-position: center;
            background-size: cover;
        nav{
            height:6vh;
            #navbarSupportedContent{
                .navbar-nav{
                    .nav-item{
                        a{
                            color: $link;
                            text-decoration: none;

                            &:hover{
                                color: $link-hover;
                                text-decoration: none;
                            }

                            // &:visited{
                            //     color: $link-visited;
                            //     text-decoration: none;
                            // }

                        }
                    }
                    .active{
                        .nav-link{
                            color: $link-active !important;
                        }
                    }
                } 
            }
        }

        .jumbotron{
            height: 54vh;
            background-color: $transparent;
            padding: 0px;
            margin-bottom: 0px;
            #text-splash{
                border: 5px solid white;
                padding: 2.5em;
                background: $semi-trasparent;
                p{
                    margin: 0px;
                }
            }
        }
    }

    #trips{
            #trips-socorro{
                height: 40vh;
                background-image: url(../images/bg_manta.jpg);
                background-position: center;
                background-size: cover;
                .spacer{
                    height: 45%;
                }
                .trip-name{
                    @include trip-name();
                }
            }
            #trips-guadalupe{
                height: 40vh;
                background-image: url(../images/bg_shark.jpg);
                background-position: center;
                background-size: cover;
                .spacer{
                    height: 45%;
                }
                .trip-name{
                    @include trip-name();
                }

            }
    }

    #rates{
            #sect-rates{
                background-color: $bg-lightblue;
                padding: 3em;
            }
            #sect-wilderness{
                background-color: $accent-dark;
                padding: 3em;
                h2{
                    color: $accent-light;
                    font-size: 5em;
                }
            }
    }

    #rooms{
        .staterooms{
            background-color: $accent-light;
            padding: 3em;
        }
    }
}